/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Quicksand', sans-serif !important;
}

.mat-toolbar {
  box-shadow: 0 5px 11px 2px rgba(181, 223, 255, 0.2);
  background-color: #ffffff;
}
